<!<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Friend List</title>
    <link rel="stylesheet" href="../upcoming css/friendlist.css">
    <link rel="icon" href="../images/friendlist.png">
  </head>
  <body>
    <div class="navbar">
    <img src="../images/navbar.png" height="47px">
    <ul>
     <li><a href="#home">Home</a></li>
     <li><a href="#news">News</a></li>
     <li><a href="#contact">Contact</a></li>
     <li><a href="#about">About</a></li>
    </ul>
   </div>

   <div class="page">
     <div class="header">
      <img src="../images/friends.jpg" alt="Girl in a jacket" width="60px" class="im">
      <h2> Friend list </h2>
     </div>
     <table name="Friends">
      <tr>
        <th> Name </th>
        <th> Picture </th>
        <th> Email </th>
        <th> Country </th>
      </tr>
        <tr>
          <td>Peter</td>
        <td><img src="../images/favicon.png" width="70px" height="70px"></td>
        <td>Peter@edelo.com</td>
        <td>Bolaq l dakror</td>
        </tr>
        <tr>
          <td>Peter</td>
        <td><img src="../images/favicon.png" width="70px" height="70px"></td>
        <td>Peter@edelo.com</td>
        <td>Bolaq l dakror</td>
        </tr>
        <tr>
          <td>Peter</td>
        <td><img src="../images/favicon.png" width="70px" height="70px"></td>
        <td>Peter@edelo.com</td>
        <td>Bolaq l dakror</td>
        </tr>
        <tr>
          <td>Peter</td>
        <td><img src="../images/favicon.png" width="70px" height="70px"></td>
        <td>Peter@edelo.com</td>
        <td>Bolaq l dakror</td>
        </tr>


       </table>


     </div>

  </body>
</html>
