<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="../upcoming css/profile.css">
  <title> Profile </title>
  <link href="../images/profile.png" rel="icon">
</head>
<div class="navbar">
  <img height="47px" src="../images/navbar.png" class="sticky">

  <ul>
    <li>
      <a href="#home">Home</a>
    </li>
    <li>
      <a href="#news">News</a>
    </li>
    <li>
      <a href="#contact">Contact</a>
    </li>
    <li>
      <a href="#about">About</a>
    </li>
  </ul>
</div>
<body>

<div class="pfimage">
 <img src="../pfp/jn.jpg" alt="profile picture" class="pp">
<h2> Joe </h2>
</div>

<div class="posts">

  <p> POSTS </p>
   <p> POSTS </p>
    <p> POSTS </p>
     <p> POSTS </p>
      <p> POSTS </p>
       <p> POSTS </p>
        <p> POSTS </p>
         <p> POSTS </p>
 <p> POSTS </p>
  <p> POSTS </p>
   <p> POSTS </p>
    <p> POSTS </p>
     <p> POSTS </p>
      <p> POSTS </p>
</div>
</body>


</html>
