<html>

<head>
    <link href="../css/HomePage.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="../images/favicon.png" rel="icon">
</head>

<body>
    <script>
        function openForm() {
            document.getElementById("myForm").style.display = "block";
            document.getElementById("myForm2").style.display = "none";
        }

        function closeForm() {
            document.getElementById("myForm").style.display = "none";
            document.getElementById("myForm2").style.display = "block";

        }
    </script>

    <div class="navbar">
        <div>
            <a href="https://www.facebook.com">
                <img src="../images/navbar.png" class="imageResponsive">
            </a>
        </div>
        <a href="#home" class="x">Home</a>
        <a href="#news" class="x">Profile</a>
        <div class="dropdown">
            <button class="dropbtn">Dropdown
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <div id=" requestsList" class="x">
                    <div id=" requestsList" class="x">
                        <a href="https://www.qries.com/">
                            <img height="100px" width="100px " src="../images/friendlist.png" id="profilePhoto">
                        </a>
                        <text>youssef ashraf</text>
                    </div>
                    <button> Confirm</button>
                    <button> Reject</button>
                    <hr>
                </div>

                
            </div>
        </div>

        <form class="example" action="action_page.php">
            <input type="text" placeholder="Search.." name="search">
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
    </div>

    <div class="posts" id="myForm2">
            <input type="text" placeholder="What is in your mind" class="postText" onfocus="openForm()">
            <img src="../images/friendlist.png" class="imgPost">
    </div>

    <div class="form-popup" id="myForm">
        <form action="/action_page.php" class="form-container">

            <label for="post" class="postLabel"><b>Post</b></label>
            <textarea placeholder="what is in your mind? " name="postTexts" required> </textarea>

            <button type="Post" class="btn">Post</button>
            <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
        </form>
    </div>

</body>

</html>