<!DOCTYPE html>
<html>
<head>
	<link href="../css/login.css" rel="stylesheet">
	<link href="../images/favicon.png" rel="icon">
	<title>Login</title>
</head>
<body>
	<div class="navbar">
		<img height="47px" src="../images/navbar.png">
		<ul>
			<li>
				<a href="#home">Home</a>
			</li>
			<li>
				<a href="#news">News</a>
			</li>
			<li>
				<a href="#contact">Contact</a>
			</li>
			<li>
				<a href="#about">About</a>
			</li>
		</ul>
	</div>
	<div class="logdiv">
		<form method="post">
			<div class="container">
				<div class="imgcontainer"><img alt="Login image" class="logimg" src="../images/FcihBook-logos.jpeg"></div><label class="em" for="Email">Email</label> <input name="Email" pattern="[a-zA-Z]+@[a-zA-Z]+.com" placeholder="Enter Username" required="" type="text"><br>
				<label for="pswd">Password</label> <input name="pswd" placeholder="Enter your password" required="" type="password"><br>
				<div class="action">
					<button>Login</button> <button>Register</button>
				</div>
			</div>
		</form>
	</div>
</body>
</html>
